#column-left{
  .list-group{
    
  }
     
}

//产品筛选
.product-filter {
  margin: 20px 0;
  padding: 10px 0;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  button {
    line-height: 32px;
    border: none;
    background-color: transparent;
    color: #bbb;
    outline: 0;
  }

  a, label {
    line-height: 32px;
    margin-bottom: 0;
  }

  @media (max-width: 767px) {
    .text-right {
      text-align: left;
    }
  }
}