.rating {
  .fa-stack {
    font-size: 8px;
    width: 10px;
    height: 10px;
    line-height: 10px;
  }

  .fa-star {
    color: #58e817;
    font-size: 12px;

    &.off {
      color: #e1e1e1;
      font-size: 12px;
    }
  }
}